{{ if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": {{ (site.Params.schema.publisherType | default "Organization") | title | jsonify | safeJS }},
  "name": {{ site.Title | jsonify | safeJS }},
  "url": {{ site.Home.Permalink | jsonify | safeJS }},
  "description": {{ site.Params.description | plainify | truncate 180 | jsonify | safeJS }},
  {{- if (eq site.Params.schema.publisherType "Person") }}
  "image": {{ site.Params.assets.favicon | default "favicon.ico" | absURL | jsonify | safeJS }},
  {{- else }}
  "logo": {{ site.Params.assets.favicon | default "favicon.ico" | absURL | jsonify | safeJS }},
  {{- end }}
  "sameAs": [
    {{- if site.Params.schema.sameAs }}
      {{ range $i, $e := site.Params.schema.sameAs }}{{ if $i }}, {{ end }}{{ trim $e " " | jsonify | safeJS }}{{ end }}
    {{- else}}
      {{ range $i, $e := site.Params.SocialIcons }}{{ if $i }}, {{ end }}{{ trim $e.url " " | jsonify | safeJS }}{{ end }}
    {{- end}}
  ]
}
</script>
{{- else if (or .IsPage .IsSection) }}
{{/* BreadcrumbList */}}
{{- $url := replace .Parent.Permalink ( printf "%s" site.Home.Permalink) "" }}
{{- $lang_url := strings.TrimPrefix ( printf "%s/" .Lang) $url }}
{{- $bc_list := split (strings.Trim $lang_url "/") "/" -}}

{{- $scratch := newScratch }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
  {{- range $index, $element := $bc_list }}

    {{- $scratch.Add "path" (printf "%s/" $element ) | safeJS }}
    {{- $bc_pg := site.GetPage ($scratch.Get "path") -}}

    {{- if (and ($bc_pg) (gt (len . ) 0))}}
    {{- if (and $index)}}, {{end }}
    {
      "@type": "ListItem",
      "position": {{ add 1 $index  }},
      "name": {{ $bc_pg.Name | jsonify | safeJS }},
      "item": {{ $bc_pg.Permalink | jsonify | safeJS }},
    }
    {{- end }}

  {{- end }}
  {{- /*  self-page addition  */ -}}
  {{- if gt (len $bc_list) 0 }}, {{end }}
    {
      "@type": "ListItem",
      "position": {{ add (len $bc_list) 1 }},
      "name": {{ .Name | jsonify | safeJS }},
      "item": {{ .Permalink | jsonify | safeJS }}
    }
  ]
}
</script>
{{- if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title | plainify | jsonify | safeJS }},
  "name": {{ .Title | plainify | jsonify | safeJS }},
  "description": {{ with .Description | plainify }}{{ . | jsonify | safeJS }}{{ else }}{{ .Summary | plainify | jsonify | safeJS }}{{ end -}},
  "keywords": [
    {{- if .Params.keywords }}
    {{ range $i, $e := .Params.keywords }}{{ if $i }}, {{ end }}{{ $e | jsonify | safeJS }}{{ end }}
    {{- else }}
    {{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e | jsonify | safeJS }}{{ end }}
    {{- end }}
  ],
  "articleBody": {{ .Content | plainify | jsonify | safeJS }},
  "wordCount" : {{ .WordCount | jsonify | safeJS }},
  "inLanguage": {{ .Language.Lang | default "en-us" | jsonify | safeJS }},
  {{- $imageURL := "" -}}
  {{- if .Params.cover.image -}}
    {{- if (ne .Params.cover.relative true) -}}
      {{- $imageURL = .Params.cover.image | absURL -}}
    {{- else -}}
      {{- $imageURL = path.Join .RelPermalink .Params.cover.image | absURL -}}
    {{- end -}}
  {{- else -}}
    {{- $images := partial "_funcs/get-page-images" . -}}
    {{- with index $images 0 -}}
      {{- $imageURL = .Permalink -}}
    {{- end -}}
  {{- end -}}
  {{- with $imageURL }}
  "image": {{ . | jsonify | safeJS }},
  {{- end }}
  "datePublished": {{ .PublishDate | jsonify | safeJS }},
  "dateModified": {{ .Lastmod | jsonify | safeJS }},
  {{- with (.Params.author | default site.Params.author) }}
  "author":
    {{- if (or (eq (printf "%T" .) "[]string") (eq (printf "%T" .) "[]interface {}")) -}}
  [{{- range $i, $v := . -}}
  {{- if $i }}, {{end -}}
  {
    "@type": "Person",
    "name": {{ $v | jsonify | safeJS }}
  }
  {{- end }}],
    {{- else -}}
  {
    "@type": "Person",
    "name": {{ . | jsonify | safeJS }}
  },
    {{- end -}}
  {{- end }}
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | jsonify | safeJS }}
  },
  "publisher": {
    "@type": {{ (site.Params.schema.publisherType | default "Organization") | title | jsonify | safeJS }},
    "name": {{ site.Title | jsonify | safeJS }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ site.Params.assets.favicon | default "favicon.ico" | absURL | jsonify | safeJS }}
    }
  }
}
</script>
{{- end }}{{/* .IsPage end */}}

{{- end -}}